*{
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;

}

body{
    background-color: #323437;
}

h1{
    color: gold;
    font-size: 2.5rem;
}

.panel {
    border: 2px solid red;
    height: fit-content;
    width: 72%;
    margin: auto;
    margin-top: 19px;
    padding: 13px;
}

#inputBox {
    background-color: #323437;
    
   
     color :  #646669;
    font-size: 1.5rem;
    text-align: left;
    border : none ;
    outline: none;
    height: 198px;
    width: 72%;
    margin: auto;
    margin-top: 43px;
   
}

#wordCount{
    color : white;
}

.correct{
    color : #d1d0c5 ;
    color : rgb(50, 220, 50) ;
}

.wrong{
    color : rgb(229, 107, 107) ;
}


.panel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.panel-item {
    font-size: 2.15rem;
    color: #d1d0c5 ;

}
input[type="textarea"]:focus {
    outline: none;
    border: none;
  }